stages:
  - patch
  - packages
  - config

variables:
  ANSIBLE_HOST_KEY_CHECKING: "False"
  # ANSIBLE_PASSWORD should be defined in GitLab CI/CD Variables

default:
  image: python:3.11-slim
  before_script:
    - python3 --version
    - pip install --no-cache-dir ansible-core==2.16.14 pywinrm
    - ansible-galaxy collection install ansible.windows chocolatey.chocolatey community.windows
    - ansible --version

# Monthly OS Patching
# To run this monthly, create a "Pipeline Schedule" in GitLab:
#   Description: "Monthly Security Patching"
#   Interval Pattern: "0 0 1 * *" (1st of every month at midnight)
#   Target Branch: "main"
patch-servers:
  stage: patch
  script:
    - ansible-playbook patch.yml --extra-vars "ansible_password=${ANSIBLE_PASSWORD}"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_PIPELINE_SOURCE == "web"'
      when: manual

# Manual Package Management
manage-packages:
  stage: packages
  script:
    - ansible-playbook packages.yml --extra-vars "ansible_password=${ANSIBLE_PASSWORD}"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web"'
      when: manual

# Manual Configuration Distribution
distribute-configs:
  stage: config
  script:
    - ansible-playbook config.yml --extra-vars "ansible_password=${ANSIBLE_PASSWORD}"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web"'
      when: manual
