---
- name: Ensure C:\Temp\scc directory exists
  ansible.windows.win_file:
    path: C:\Temp\scc
    state: directory

- name: Copy SCC installer to Windows target
  ansible.windows.win_copy:
    src: "scc-5.14_Windows/SCC_5.14_Windows_Setup.exe"
    dest: C:\Temp\scc\SCC_5.14_Windows_Setup.exe

- name: Install SCC on Windows
  ansible.windows.win_command:
    cmd: C:\Temp\scc\SCC_5.14_Windows_Setup.exe /S /v"/qn"
  register: scc_install_result
  changed_when: scc_install_result.rc in [0, 3010]
  failed_when: scc_install_result.rc not in [0, 3010]

- name: Run SCC local scan on Windows
  ansible.windows.win_command:
    cmd: '"C:\Program Files\SCAP Compliance Checker\cscc.exe" --scan'
  register: scc_windows_scan
  changed_when: "scc_windows_scan.rc == 0"
  ignore_errors: true

- name: Find SCC scan results archive on Windows
  ansible.windows.win_find:
    paths: 'C:\ProgramData\SCAP Compliance Checker\Sessions'
    patterns: '*_Results_*.zip'
    recurse: true
  register: scc_windows_results

- name: Fetch Windows scan results to controller
  ansible.builtin.fetch:
    src: "{{ item.path }}"
    dest: "scc_results/{{ inventory_hostname }}/"
    flat: true
  loop: "{{ scc_windows_results.files }}"
  when: scc_windows_results.matched > 0
